body{
    font-family: 'Roboto', sans-serif;
    color: #612406;
}
article{
    display: flex;
    width: 700px;
    padding: 20px;
    background-color: #fbf7e3;
    border-radius: 20px;
}
article img{
    width: 50%;
}
article div{
    margin-left: 20px;
}
article div>h3{
    margin-top: 0px;
}